* {
  box-sizing: border-box;
}

body {
  font-family: bebas neue, Candara, Helvetica, sans-serif;
  margin: 0;
}

.menu {
  position: absolute;
  top: 0px;
  left: 630px;
  display: flex;
  font-size: 40px;
  background-color: #e60b07;
  padding-right: 115px;
  height: 112.5px;
  line-height: 95px;
}

.menu a {
  display: block;
  padding: 13px;
  color: white;
  text-decoration: none;

}

.menu a:hover {
  background-color: white;
  color: #e60b07;
  transition: background-color 0.5s;
  cursor: -webkit-grab;
}

.imagemPrincipal  {
  padding-top: 15px;
}

.card {
  background-color: lightgray;
  width: 80%;
  margin-left: 10%;
}


.card h1 {
  background-color: #e60b07;
  color: white;
  text-align: center;
  padding: 1%;
  padding-bottom: 1%;
}

.contato p {
  margin-top: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}

.contato a {
  text-decoration: none;
  color: #e60b07;
}

.contato img {

  width: 10%;
  margin-top: -22px;
  cursor: -webkit-grab;
  transition: 0.5s;
  position: relative;
  margin-right: 8%;
  
}

.contato img:hover {
  box-shadow: 5px 10px 15px #E8E8E8;
}

@media screen  and (max-width: 450px) {
  #iconlogo{
    width: 100%;
  }
  .menu {
    display: block;
    top: 65px;
    left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 200px;
    font-size: 190%;
    text-align: center;
    line-height: 15px;
  }

  .menu a {
  display: block;
  color: white;
  text-decoration: none;
  }

  
  .imagemPrincipal  {
  padding-top: 205px;
  }

  #imagemMeio {
    width: 100%;
  }

  .card{
    display: block;
    margin-top: 50%;
    float: left;
  }

  .contato img {
  width: 50%;
  margin-top: 5px;
  
  }
}